@import url('../fonts/fonts.css');
@import url('global.css');

.container {
    max-width: 1340px;
    width:95%;
    margin: 0 auto;
    padding: 1px 0;
}
.organizer-type-1 {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    /* justify-content: ; */
    align-items: center;
}
.header {
    margin: 92px 0;
}
.header__links-list {
    display: flex;
    /* flex-direction: row; */
    gap: 13px;
    
}
.header__links-list-item {
    list-style: circle inside;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link, .footer__link {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
.header__link_active {
    text-decoration: none;
}
.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}
.address {
    display: flex;
    flex-direction: column;
    justify-self: right;
}
.header__text, .footer__text {
    width: 212px;
}
/*==========cover===============*/
.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.cover .container {
    position:relative;
    z-index:2;
}

.overlay {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    inset:0;
}
.cover__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; 
    letter-spacing: 30px;
    text-transform: uppercase;
    margin: 165px 0 135px;
    letter-spacing: 30px;
}
.aligned-text {
    display: block;
    
}
.aligned-text_center {
    display: block;
    text-align: center;
}
.aligned-text_right {
    display: block;
    text-align: right;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.cover__description {
    display: flex;
    gap:78px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}
.cover__description-text {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.273%;
    text-transform: uppercase;
    word-spacing: 30px;
}
.bet-button {
    border: 1px solid currentColor;
    padding: 12px 32px;
    background-color: transparent;
    color: #FFF;
    font-family: Raleway;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.lots{
    margin: 150px 0 180px;
}
.lots__heading{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    
}
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    list-style-type: none;
    color: #FFF;
    margin: 27px 0 30px;
}
.lots__card-list-item{
    width: 430px;
    flex-grow: 1;
    background-position: center;
}
.card_type_film{
    background-image: url(../images/card-lot-01.jpg);

}
.card_type_book{
    background-image: url(../images/card-lot-02.jpg);

}
.card_type_picture{
    background-image: url(../images/card-lot-03.jpg);

}
.card-link{
    display: block;
    height: 100%;
    text-decoration: none;
}
.card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    padding: 50px 40px;
    height: 100%;
}
.card__title{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 2; 
}
.card__text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    position: relative;
    z-index: 2;
    }
.lots__look-more-link{
    margin-left: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about{
    margin: 180px 0 155px;
}
.about__title{
    margin: 100px 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 100px 0;
}
.about__column{
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}
.about__logo{
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__logo-image{
    width: 148px;
}
.about__text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}
.footer{
    margin-bottom: 90px;
}
.footer .container{
    display: block;
}
.organizer-type-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__menu{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__menu-list{
    list-style-type: none;
}
.footer__menu-list-item{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-link{
    display: block;
    width: 48px;
}
.footer__social-list{
    display: flex;
    gap: 48px;
    list-style-type: none;
}
